.App {
  text-align: center;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Create two columns with equal width */
  grid-gap: 10px; /* Set the gap between grid items */
}

.grid-item {
  background-color: #ddd;
  padding: 20px;
  text-align: center;
}